.slider {
  /* default is width 400 and margin 10 */
	width: 200;
	margin: 10px;
}

.consent {
  font-size: 15px;
}

.progress {
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: -133;
}

.slide {
    padding-top: 36px;
    /*padding-bottom: 50px;*/

}


.long_form {
    padding-top: 20px;
}

#pngFrame {
    z-index:0;
}


#pngTarget {
    z-index:1;
}


.visualStimulus td
{
    padding:0 15px 0 15px;
}


/* from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */


.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}


/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

.learning_table td
{
    padding:0 15px 0 30px;
}

.radio_centered 
{
text-align: center; 
vertical-align: middle;
}
